body{
    background-image: none;
    background-color:blue ; /*--changed the backgrond color to black--*/
}
.im{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: fit-content;
    /*--Made the image centred--*/
}
p{
    color: white; /*--Changed paragraph color--*/
}
h1{
    color: white; /*--changed h1 color--*/
}
h4{
    color: white; /*--changed h4 color--*/
}
ul{
    color: white; /*--changed ul color--*/
}